// - - - - - - - - - - - - - - - - - - -
// - - forms module
// styles for the forms module

.form__flex-wrapper {
  display: flex;
  margin-bottom: 10px;
  &:first-child {
    padding-top: 50px;
  }
}

.form__flex-input {
  border: none;
  flex: 1;
  margin: 0 10px 0 0;
  padding: 0 10px;
}
