// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles

.t-underline {
  position: relative;
  display: inline-block;
  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 1px solid;
    content: '';
    opacity: 0;
    transition: transform 0.3s, opacity 0.4s;
    transform: translateX(-20px);
  }
  @include attention() {
    text-decoration: none;
    &:after {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
